.Track{
    color: white;
    border-bottom: 2px solid white;
    min-height: 3rem;
    display: flex;
}

.Track:hover {
    background-color: #252525;
}
.TrackInfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.TrackInfoBody{
    display: flex;
    flex-direction: column;
}
.Title{
    margin: 0.5rem 0 0.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: normal;
}
.Album, .Artist{
    margin: 0 0 0 0.5rem;
}
.ActionButton, .MusicButton{
    background: none;
    border: none;
    padding: 0;
    margin: 0 1rem 0 0;
    color: inherit;
    cursor: pointer;    
}
.ActionButton:hover, .MusicButton:hover {
    color: #3498db;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3); 
}
.ActionButton{
    font-size: 3rem;
}
.MusicButton{
    font-size: 1.8rem;
}