.Track{
    color: white;
    border-bottom: 2px solid white;
    min-height: 3rem;
    display: flex;
    flex-direction: column;
}
.Title{
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.5rem;
}
.TrackInfo{
    display: flex;
    flex-direction: column;
}
.Album, .Artist{
    margin-bottom: 0.3rem;
}